.App {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.food-list {
  margin: 0 auto;
}

.food-details {
  flex-grow: 2;
}
